<div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      {{ $siteUrl := "#" | absURL }}
      <a class="navbar-brand" href="{{ $siteUrl }}">Babelibrary</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            {{ $ArtesUrl := "artes-y-humanidades" | absURL }}
            <a class="nav-link" href="{{ $ArtesUrl }}">Artes y Humanidades</a>
          </li>
          <li class="nav-item">
            {{ $CienciasUrl :=  "ciencias" | absURL }}
            <a class="nav-link" href="{{ $CienciasUrl }}">Ciencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ciencias de la Salud</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ciencias Sociales y Jurídicas</a>
          </li>
          <li class="nav-item">
            {{ $ingenieriaUrl := "ingeneria" | absURL }}
            <a class="nav-link" href="{{ $ingenieriaUrl }}">Ingeniería y Arquitectura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Programación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Idiomas</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>