<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Styles -->
    {{ $CoverStyle := resources.Get "css/cover-style.css" }}
    <link rel="stylesheet" type="text/css" href="{{ $CoverStyle.Permalink }}">

    {{ $IndexStyle := resources.Get "css/index-style.css" }}
    <link rel="stylesheet" type="text/css" href="{{ $IndexStyle.Permalink }}">
    
    <!-- MathJax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
    <title>Babelibrary</title>
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="content row no-gutters bg-dark">
      {{range where .Pages "Params.noshowpost" "!=" true }}
        <div class="col-md-4 col-sm-9">
          <div class="area-card">
            <a href="{{ .Permalink }}">
              {{ $SectionUrl := .Permalink }}
              {{ with .Params.img }}
                {{ with (index . 0) }}
                  <img src="{{ $SectionUrl }}{{ . }}" alt="{{ . }}">
                {{ end }}
              {{ end }}
              <h3 class="text-center">{{ .Title }}</h3>
            </a>
            <p>{{ .Summary }}</p>
            {{ with .Params.areas_del_saber }}
              <h5>Areas del Saber</h5>
              <ul>
                {{ range $type, $value := . }}
                  {{ if eq (len $value) 1 }}
                    <li class="shadow-sm"><a href="#">{{ index . 0 }}</a></li>
                  {{ else }}
                    <li class="shadow-sm"><a href="{{ index . 1 | absURL }}">{{ index . 0 }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            {{ end }}
            {{ with .Params.subarea_de }}
              <h5>Subárea de</h5>
              <ul>
                {{ range $type, $value := . }}
                  {{ if eq (len $value) 1 }}
                    <li class="shadow-sm"><a href="#">{{ index . 0 }}</a></li>
                  {{ else }}
                    <li class="shadow-sm"><a href="{{ index . 1 | absURL }}">{{ index . 0 }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>

    <!-- Ionicons ICONOS -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
